# Ignore environment files
.env
*.env
**/.env

# Backend env
/backend/.env

# Flutter / Dart build outputs
build/
.dart_tool/
.packages
.pub/

# Android/IntelliJ
*.iml
.android/
.gradle/
/local.properties

# iOS
DerivedData/

# VSCode
.vscode/

# Mac
.DS_Store
